@import '../../Styles/variables.scss';

.plan {
    height: 100vh;
    max-width: $sm;
    margin: 0 auto;
    background-color: $magnolia;
    font-family: $ubuntuFont;

    @include breakpoint(sm) {
        max-width: 100%;
        width: 880px;
        max-height: 700px;
        height: 600px;
        border-radius: 16px;
        background-color: $alabaster;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        padding: 15px; 
    }

    .steps {
        height: 150px;
        background: url('../../assets/images/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        padding-top: 40px;

        @include breakpoint(sm) {
            background: url('../../assets/images/bg-sidebar-desktop.svg');
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 275px;
            border-radius: 10px;
        }

        .stepsIcon {
            width: 180px;
            display: flex;
            justify-content: space-between;

            .iconDesktop {
                display: none;
            }

            @include breakpoint(sm) {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 10px 0;

                .iconDesktop {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-bottom: 30px;

                    .desktopTitle {
                        margin: 0 15px;
                        color: $alabaster;
                        text-transform: uppercase;
                        font-size: $fs-xs;

                        > span {
                            font-weight: $fw-light;
                        }

                        > p {
                            font-weight: $fw-regular;
                        }
                    }

                    > span {
                        width: 35px;
                        height: 35px;
                        border: 1px solid $alabaster;
                        color: $alabaster;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            > span {
                width: 35px;
                height: 35px;
                border: 1px solid $alabaster;
                color: $alabaster;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                @include breakpoint(sm) {
                    display: none;
                }
            }
            .selected {
                background-color: $lightBlue;
                color: $marineBlue;
            }

        }
    }

    .content {
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: -50px;
        margin: 0 20px;

        @include breakpoint(sm) {
            position: static;
            display: flex;
            justify-content: flex-start;
            margin: 0 auto;
        }

        .container {
            max-width: 450px;
            margin: 0 auto;
            background-color: $alabaster;
            border-radius: 5px;
            padding: 20px 15px;

            @include breakpoint(sm) {
                max-width: 100%;
            }

            .hero {
                > h1 {
                    margin: 10px 0 10px 10px;
                    font-size: $fs-reg;
                    font-weight: $fw-bold;
                    color: $marineBlue;
                }
                > p {
                    margin: 10px 0 10px 10px;
                    font-size: $fs-sm;
                    font-weight: $fw-light;
                    color: $coolGray;
                }
            }

            .cards {
                display: flex;
                flex-direction: column;
                padding: 10px;

                @include breakpoint(sm) {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin: 0 20px;
                }

                .card {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 20px;
                    border: 1px solid $lightGray;
                    border-radius: 5px;
                    margin: 10px 0;
                    cursor: pointer;

                    @include breakpoint(sm) {
                        display: flex;
                        flex-direction: column;
                        flex: 0 0 33.33%;
                        align-items: flex-start;
                        margin: 10px;
                    }

                    > img {
                        display: flex;
                        justify-content: flex-start;
                    }

                    .planDetails {
                        display: flex;
                        flex-direction: column;
                        margin-left: 15px;

                        @include breakpoint(sm) {
                            padding-top: 30px;
                            margin-left: 0;
                        }

                        .planTitle {
                            font-weight: $fw-regular;
                            font-size: $fs-sm;
                            color: $marineBlue;
                            padding-bottom: 5px;
                        }

                        > span {
                            color: $coolGray;
                            padding-bottom: 5px;
                        }

                        .freeBadge {
                            font-size: $fs-xs;
                            color: $marineBlue;
                        }
                    }
                }
                .active {
                    border: 1px solid $marineBlue;
                    background-color: $magnolia;
                }
            }
            
            .durSelector {
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-weight: $fw-bold;
                margin: 10px;
                background-color: $magnolia;
                padding: 25px 50px;
                border-radius: 5px;

                .selected {
                    color: $coolGray;
                }
            }

            input[type="checkbox"] {
                position: relative;
                width: 45px;
                height: 26px;
                border-radius: 13px;
                background-color: rgba($marineBlue, 0.7);
                box-shadow: inset -1px -1px 3px rgba(lighten($marineBlue, 70%), 0.3), inset 1px 1px 3px rgba($magnolia, 0.3);
                appearance: none;
                cursor: pointer;
                transition: background-color 0.4s;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(-5px, -50%);
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: $alabaster;
                    box-shadow: inset -1px -1px 3px rgba(lighten($marineBlue, 70%), 0.3), inset 1px 1px 3px rgba($magnolia, 0.3);
                    transition: transform 0.4s;
                }
                
               &:checked {
                background-color: $marineBlue;

                &:before {
                    transform: translate(14px, -50%);
                    }
                } 
            }         
        }

        .footer {
            display: flex;
            justify-content: space-between;
            height: 80px;
            background-color: $white;
            margin: 0 -20px;

            @include breakpoint(sm) {
                margin: 0 20px 0 10px;
                background: transparent;
            }

            > button {
                padding: 5px 20px;
                margin: 15px 10px;
                background-color: $marineBlue;
                color: $magnolia;
                border-radius: 4px;
                border: none;
                font-size: $fs-sm;
                font-weight: $fw-regular;

                &:hover {
                    background-color: $coolGray;
                }
            }

            .prev {
                color: $coolGray;
                background: none;
                
                &:hover{
                    background-color: $lightGray
                }
            }
        }
    }
}